{#
/**
 * @file
 * Default theme implementation to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - node.getCreatedTime() will return the node creation timestamp.
 *   - node.hasField('field_example') returns TRUE if the node bundle includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   - node.isPublished() will return whether the node is published or not.
 *   Calling other methods, such as node.delete(), will result in an exception.
 *   See \Drupal\node\Entity\Node for a full list of public properties and
 *   methods for the node object.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 *
 * @todo Remove the id attribute (or make it a class), because if that gets
 *   rendered twice on a page this is invalid CSS for example: two lists
 *   in different view modes.
 *
 * @ingroup themeable
 */
#}
<div{{ attributes }}>

  {{ title_prefix }}
  {% if not page %}
    <h2{{ title_attributes }}>
      <a href="{{ url }}" rel="bookmark">{{ label }}</a>
    </h2>
  {% endif %}
  {{ title_suffix }}

  {{ metadata }}

  {# Hero Banner Section #}
  <section class="hero-section{% if content.field_homepage_hero_image|render is empty %} NoHero-sec{% endif %}">
    <div class="home-banner">
      <div class="bg-img"{% if content.field_homepage_hero_image_parall.0["#markup"] == 1 %} id="parallax"{% endif %} style="background: url({{ file_url(content.field_homepage_hero_image['#items'].entity.uri.value) }}) no-repeat center / cover;">
      </div>
      <div class="banner-caption">
        <div class="container">
          <div class="banner-heading text-center" style="background-color: {{ content.field_homepage_hero_plate_color.0 }};">
            <div class="heading{% if content.field_homepage_hero_subheading|render is empty %} no-separator{% endif %}" style="color: {{ content.field_homepage_hero_text_color.0 }};">
              <h1 style="color: {{ content.field_homepage_hero_text_color.0 }};">{{ content.field_homepage_hero_heading.0 }}</h1>
            </div>
            {% if content.field_homepage_hero_subheading|render is not empty %}
              <p style="color: {{ content.field_homepage_hero_text_color.0 }}">
                {{ content.field_homepage_hero_subheading.0|raw }}
              </p>
            {% endif %}
            {% if node.field_homepage_hero_cta_cta.0.title is not empty %}
              <a href="{{ node.field_homepage_hero_cta_cta.0.url }}" class="btn" style="color: {{ content.field_homepage_hero_text_color.0 }}; border-color: {{ content.field_homepage_hero_text_color.0 }};">{{ node.field_homepage_hero_cta_cta.0.title }}</a>
            {% endif %}
          </div>
          <span class="verticle-line"></span>
          {{ content.field_add_starting_point }}
        </div>
      </div>
    </div>
  </section>

  {% if content.field_display_contact_sidebar.0["#markup"] == 1 %}
    <div class="sidebar-wrap">
      <div class="side-bar">
        <div class="bar-wrap">
          <a href="#" class="a-link">Get a Quote</a>
          <div class="line-wrap"><span class="verticle-line"></span><i class="ic-chevron-down"></i><span class="verticle-line"></span></div>
          <a href="#" class="a-link">Find a Distributor</a>
        </div>
      </div>
      <div class="dist-locat-sec">
        <div class="container">
          <div class="dl-wrap">
            <div class="get-quote-form" role="form">
              <div class="heading-txt">
                <h3>Know What You Want?</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris</p>
              </div>

              {{ content.field_contact_footer_form }}
            </div>
            <div class="find-near-u">
              <div class="heading-txt">
                <h3>Find a distributor near you</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris</p>
              </div>
              <form class="form-grp">                                    
                <div class="inp-box">
                  <span class="">
                    <label>City, State and/or Postal Code</label>
                    <input type="text">
                  </span>
                </div>
                <div class="inp-box submit-box text-right">
                  <input type="submit" value="Submit">
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endif %}

  {# Main container #}
  <div class="main-content">
    {{ content.field_add_column_cta }}

    {{ content.field_components }}

    {# Render other field if client will create #}
    {{ content|without('field_add_column_cta', 'field_add_starting_point', 'field_components', 'field_homepage_hero_cta_cta', 'field_homepage_hero_subheading', 'field_display_contact_sidebar', 'field_display_contact_footer', 'field_contact_footer_form', 'field_homepage_hero_heading', 'field_homepage_hero_cta_block_hd', 'field_homepage_hero_image', 'field_homepage_hero_image_parall', 'field_homepage_hero_plate_color', 'field_summary', 'field_homepage_hero_text_color') }}

    {% if (content.field_display_contact_footer.0["#markup"] == 1) and (content.field_contact_footer_form|render is not empty) %}
      <section class="contact-sec bg-gray space-large">
        <div class="small-container">
          <div class="heading-txt text-center">
            <h2>{{ 'Contact Us'|trans }}</h2>
          </div>
          <div role="form" > 
            {{ content.field_contact_footer_form }}
          </div>
        </div>
      </section>
    {% endif %}
  </div>
</div>
