{#
/**
 * @file
 * Default theme implementation to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 *
 * @ingroup themeable
 */
#}
{% if title %}
  <h3>{{ title }}</h3>
{% endif %}
{% for row in rows %}
  {%
    set row_classes = [
      default_row_class ? 'views-row',
    ]
  %}
  <div{{ row.attributes.addClass(row_classes) }}>
    {% set image_url = file_url(row.content['#row']._entity.field_taxonomy_image.entity.uri.value) %}
    <figure>
      <img src="{{ image_url }}" alt="">
    </figure>
    <div class="p-data">
        <span class="hr-line"></span>
        <h4 class="h6">{{ row.content['#row']._entity.title[0].value }}</h4>
        <p>{{ row.content['#row']._entity.field_summary[0].value }}</p>
        <a href="{{ path('entity.node.canonical', {'node': row.content['#row']._entity.id}) }}" class="btn-link" hreflang="en">{{ 'Read More'|trans }}</a>
    </div>
    {# row.content #}
  </div>
{% endfor %}